.fondo-login{
    background-image: url(/moodle_fmr/theme/steps/pix/login/login_persona_g.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

#region-main .row .col-sm-8{
   margin-left: 50%;
}

.justify-content-center .col-sm-8 .card .card-block .card-header{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
}

.justify-content-center .col-sm-8 .card{
    position: absolute !important;
    border: 1px solid orange;
    border-radius: 20px;
    width: 75%;
    margin-top: -1rem;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    font-family: 'Mochiy Pop P One', sans-serif;
    box-shadow: rgba(5, 5, 5, 5.56) 0px 22px 70px 40px;
}

.card-body .justify-content-md-center{
    display: block !important;
}

.card-body .justify-content-md-center .col-md-5{
    max-width: 100%;
}

#login #loginbtn{
    width: 25%;
    border-radius: 50px;
    margin-left: 35%;
    height: 70px;
    font-weight: bold;
    font-size: 1.1rem;
}

#region-main{
    overflow: revert !important;
}

.fondo-login #page #page-content #region-main-box #region-main{
    box-shadow: none !important;
}



                        /********* GENERAL **********/

body{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    font-family: 'Mochiy Pop P One', sans-serif;
}

.navbar{
    background-color: #0f6cbf !important;
}

#nav-drawer{
    background-color: #A2CAFC !important;
}

.d-inline-block button.nav-link{
    border: 3px solid rgba(0, 0, 0, .125) !important;
}

#nav-drawer .list-group{
    width: 121%;
    margin-left: -2rem;
}

.img-menu-lateral{
    width: 15rem;
}

[data-action="toggle-drawer"] .icon {
    color: black;
}

.d-md-inline {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.mr-1, .mx-1 {
    color: white;
}

.nav.usernav .usermenu .dropdown-toggle {
    color: white;
}